// tab1
.ion-ios-tab1 {  
  content: url("../assets/imgs/home-red.svg");  
  height: 40px;
}  
  
.ion-ios-tab1-outline {  
  content: url("../assets/imgs/home-white.svg");  
  height: 40px;
}  
  
.tabs-md .tab-button[aria-selected=true] .ion-md-tab1 {  
  content: url("../assets/imgs/home-red.svg");  
  height: 40px;
}  
  
.tabs-md .tab-button[aria-selected=false] .ion-md-tab1 {  
  content: url("../assets/imgs/home-white.svg");  
  height: 40px;
} 

// tab2
.ion-ios-tab2 {  
  content: url("../assets/imgs/map-red.svg");  
  height: 40px;
}  
  
.ion-ios-tab2-outline {  
  content: url("../assets/imgs/map-white.svg");  
  height: 40px;
}  
  
.tabs-md .tab-button[aria-selected=true] .ion-md-tab2 {  
  content: url("../assets/imgs/map-red.svg");  
  height: 40px;
}  
  
.tabs-md .tab-button[aria-selected=false] .ion-md-tab2 {  
  content: url("../assets/imgs/map-white.svg");
  height: 40px;  
} 

// tab3
.ion-ios-tab3 {  
  content: url("../assets/imgs/task-red.svg");  
  height: 40px;
}  
  
.ion-ios-tab3-outline {  
  content: url("../assets/imgs/task-white.svg");  
  height: 40px;
}  
  
.tabs-md .tab-button[aria-selected=true] .ion-md-tab3 {  
  content: url("../assets/imgs/task-red.svg");  
  height: 40px;
}  
  
.tabs-md .tab-button[aria-selected=false] .ion-md-tab3 {  
  content: url("../assets/imgs/task-white.svg");  
  height: 40px;
} 

// tab4
.ion-ios-tab4 {  
  content: url("../assets/imgs/account-red.svg");  
  height: 40px;
}  
  
.ion-ios-tab4-outline {  
  content: url("../assets/imgs/account-white.svg");  
  height: 40px;
}  
  
.tabs-md .tab-button[aria-selected=true] .ion-md-tab4 {  
  content: url("../assets/imgs/account-red.svg");  
  height: 40px;
}  
  
.tabs-md .tab-button[aria-selected=false] .ion-md-tab4 {  
  content: url("../assets/imgs/account-white.svg");  
  height: 40px;
} 

// tabCenter
.ion-ios-tabCenter {  
  content: url("../assets/imgs/Broad.svg");  
  height: 50px;
}  
  
.ion-ios-tabCenter-outline {  
  content: url("../assets/imgs/Broad.svg");  
  height: 50px;
}  
  
.tabs-md .tab-button[aria-selected=true] .ion-md-tabCenter {  
  content: url("../assets/imgs/Broad.svg");  
  height: 50px;
}  
  
.tabs-md .tab-button[aria-selected=false] .ion-md-tabCenter {  
  content: url("../assets/imgs/Broad.svg");  
  height: 50px;
} 
