page-contact {
    ion-grid {
        height: 100%;
        justify-content: center;
    }
    .item:nth-child(8n+1){
        background: #B9DFAD;
    }
    .item:nth-child(8n+2){
        background: #F7947D;
    }
    .item:nth-child(8n+3){
        background: #A8D2EA;
    }
    .item:nth-child(8n+4){
        background: #AF7787;
    }
    .item:nth-child(8n+5){
        background: #8C8FBF;
    }
    .item:nth-child(8n+6){
        background: #AAB9D5;
    }
    .item:nth-child(8n+7){
        background: #F2D7AE;
    }
    .item:nth-child(8n+8){
        background: #C0857F;
    }
    .pl{
        width: 50%;
        overflow:hidden;
        text-overflow:ellipsis; 
        white-space: nowrap;/*加宽度width属来兼容部分浏览*/
    }
}
