page-account {
    .red-pane{
        background-color: #F97C7C;
        height: 220px;
    }
    .userName{
        font-size: 16px;
        color: #ffffff;
    }

    .userDetail{
        font-size: 14px;
        color: #ffffff;
    }
}
